html {
  font-size: 18px;
}

body {
  font-family: helvetica, sans-serif;
  width: 1360px;
}

.container {
  width: 960px;
  padding-left: 10rem;
  padding-right: 10rem;

}

.company {
  background-color: black;
  color: white;
  display: flex;
  height: 2.32rem;
  width: 100%;
  margin: 0;
  position: fixed;
}

.company .container {
  display: inline-flex;
  height: 2.32rem;
}

.secret {
  padding-left: 1rem;
  font-size: 1rem;
  font-family: helvetica;
  margin: 0;
  height: 2.32rem;
  padding-top: 0.66rem;
}

.logo {
  padding-left: 0.5rem;
  padding-top: 7.5px;
}

.logo img {
  height: 1.5rem;
}

.page {
  padding-top: 2.32rem;
}
.main-banner {
  height: 25rem;
  width: 100%;
}

.main-banner .container {
  padding-top: 9rem;
}

div.headline {
  width: 25rem;
  height: 10.5rem;
  background-color: black;
  color: white;
}

h4 {
  font-family: helvetica;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 0.25rem;
}

h1 {
  font-family: helvetica;
  font-size: 2rem;
  font-weight: bold;
}

h4,
h1 {
  padding-left: 3rem;
}

nav {
  display: flex;
  height: 2.5rem;
  width: 100%;
  background-color: firebrick;
  padding-top: 0.75rem;
}

nav ul {
  display: inline-flex;
  justify-content: space-between;
}

nav li a {
  text-decoration: none;
}

.site-content .container {
  padding-top: 3rem;
  height: 16rem;
}

div.site-content {
  height: 27rem;
  padding-bottom: 4rem;
}

.products {
  display: inline-flex;
}

.product {
  height: 15rem;
  width: 16rem;
  border: 4px solid black;
}

.product-watch {
  height: 15rem;
  width: 16rem;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
}

.description {
  height: 2rem;
  background-color: black;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 16rem;
}

.description span {
  padding-left: 4rem;
  padding-top: 3rem;
}
.product-glasses {
  height: 15rem;
  width: 16rem;
  border: 4px solid black;
}

.product-glasses img {
  padding-top: 4rem;
  padding-bottom: 2rem;
  height: 4rem;
  width: 9rem;
  padding-left: 3rem;
}

.product-glasses .product-image {
  height: 12rem;
}

.product img {
  height: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
}

.product.image {
  height: 12rem;
}

.product-watch .description {
  border-right: 8px solid black;
}

.business .container {
 display: inline-flex;
}

.info-1 {
  width: 336px;
  height: 3rem;
  background-color: black;
  color: white;
}

.info-2 {
  margin-left: 16rem;
  width: 336px;
  height: 3rem;
  background-color: black;
  color: white;
}

.info-1 .location {
  display: inline-flex;
  padding-left: 2rem;
  padding-top: 1rem;
}

.info-2 .hours {
  display: inline-flex;
  padding-left: 2rem;
  padding-top: 1rem;
}

footer {
  height: 7rem;
  background-color: black;
  color: white;
  width: 100%;
  text-align: left;
  padding-top: 3.5rem;
  font-size: 1rem;
}

@media only screen and (min-width:1025px) and (max-width: 1600px) {
  nav li.tab {
    display: none;
    visibility: none;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  nav li.nav-item {
    display: none;
    visibility: none;
  }
  nav li.tab {
    display: inline;
    visibility: visible;
    padding-left: 25rem;
  }
  html {
    font-size: 16px;
  }
  .site-content .product-glasses {
    display: none;
    visibility: hidden;
  }
  .site-content .product {
    width: 27rem;
  }
  .description {
    width: 27rem;
  }
  .description span {
    padding-left: 8rem;
  }
  .product-image img {
    padding-left: 8rem;
  }
  .product img {
    padding-left: 8rem;
  }
  .container {
    padding-left: 2rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
  .main-banner {
    height: 15rem;
  }
  .main-banner .container {
    padding-top: 10rem;
  }
  h4 {
    padding-top: 1rem;
    font-family: helvetica;
    font-size: 0.77rem;
    font-weight: bold;
  }
  h1 {
    font-family: helvetica;
    font-size: 1rem;
    font-weight: bold;
  }
  h4,
  h1 {
    padding-left: 2rem;
  }
  .site-content .product-watch {
    display: none;
    visibility: hidden;
  }
  .site-content .product {
    width: 27rem;
  }
  .description {
    width: 27rem;
  }
  .business .container {
    display: inline-flex;
    flex-flow: column;
  }
  .info-1 {
    width: 28rem;
  }
  .info-2 {
    width: 28rem;
    margin-top: 1.5rem;
    margin-left: 0rem;
  }

  nav li.nav-item {
    display: none;
    visibility: none;
  }
  nav li.tab {
    display: inline;
    visibility: visible;
    padding-left: 25rem;
  }
  .site-content .product-glasses {
    display: none;
    visibility: hidden;
  }
  .container {
    padding-left: 0.5rem;
  }
  div.headline {
    height: 4.77rem;
    width: 100%;
  }
  nav li.tab {
    padding-left: 13rem;
  }
  .product img {
    padding-left: 8rem;
  }
  .company .secret {
    width: 18rem;
  }

}
